body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
}

header, footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1em;
}

/* Desktop styles for navigation */
nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 200px; /* Adjust as needed */
  background-color: #444;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
}

nav ul li {
  display: block;
}

nav ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  border-bottom: 1px solid #333;
}

nav ul li a:hover {
  background-color: #111;
}

section {
  margin: 1em 0 1em 220px; /* Adjusted for desktop */
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.8);
}

.project-item {
  border: 1px solid #ddd;
  margin-bottom: 1em;
  padding: 1em;
}

form input, form textarea, form button {
  width: 90%;
  margin: 10px auto;
  display: block;
}

form input, form textarea {
  padding: 0.5em;
  border: 1px solid #ddd;
}

form button {
  padding: 0.5em;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

form button:hover {
  opacity: 0.8;
}

footer {
  margin-top: 1em;
  padding: 1em;
  background-color: #333;
  text-align: center;
  color: white;
}

/* Mobile styles */
@media (max-width: 768px) {
  nav {
    position: static; /* Reset position for mobile */
    width: auto; /* Full width */
    height: auto;
  }

  nav ul {
    overflow: visible; /* Remove scroll for mobile */
  }

  nav ul li {
    display: inline-block; /* Horizontal layout for mobile */
  }

  nav ul li a {
    padding: 10px; /* Adjust padding for mobile */
  }

  /* Reset margin for mobile */
  section {
    margin: 1em;
  }

  /* Adjust form elements for mobile */
  form input, form textarea, form button {
    width: calc(100% - 20px); /* Full width minus padding */
  }
}

/* Additional Media Query for very small screens */
@media (max-width: 480px) {
  nav ul li a {
    padding: 8px; /* Smaller padding for very small screens */
  }
}
